Function in Python for displaying output: `print()`.

In [ ]:
# The print() function is used to display output to the console.
print("Hello, World!") # Printing a simple string

Hello, World!

In [ ]:
print(123) # Printing a number

123

In [ ]:
print("The sum of 2 and 3 is:", 2 + 3) # Printing a string and an expression result

The sum of 2 and 3 is: 5

Variables are used to store data values. You don't need to declare their type before using them.

In [ ]:
# Assigning values to variables
name = "Meharsh"
age = 21
height = 6.3 # This is a float (decimal number)
is_student = True # This is a boolean value (True or False)

# Printing variables
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is student:", is_student)

Name: Meharsh
Age: 21
Height: 6.3
Is student: True

Python supports various data types. Here are some common ones:

In [ ]:
# String (text)
my_string = "This is a string."
print("Type of my_string:", type(my_string))

# Integer (whole number)
my_integer = 7
print("Type of my_integer:", type(my_integer))

# Float (decimal number)
my_float = 14.56
print("Type of my_float:", type(my_float))

# Boolean (True or False)
my_boolean = False
print("Type of my_boolean:", type(my_boolean))

# List (ordered collection of items)
my_list = [1, 2, 3, "nagpur", "delhi"]
print("Type of my_list:", type(my_list))

# Tuple (ordered, immutable collection of items)
my_tuple = (4, 5, 6)
print("Type of my_tuple:", type(my_tuple))

# Dictionary (unordered collection of key-value pairs)
my_dict = {"name": "Meharsh", "age": 21}
print("Type of my_dict:", type(my_dict))

# Set (unordered collection of unique items)
my_set = {1, 2, 3, 3}
print("Type of my_set:", type(my_set))

Type of my_string: <class 'str'>
Type of my_integer: <class 'int'>
Type of my_float: <class 'float'>
Type of my_boolean: <class 'bool'>
Type of my_list: <class 'list'>
Type of my_tuple: <class 'tuple'>
Type of my_dict: <class 'dict'>
Type of my_set: <class 'set'>

Basic arithmetic operations are straightforward in Python.

In [ ]:
# Arithmetic operations
a = 21
b = 7

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b) # Float division
print("Floor Division:", a // b) # Integer division
print("Modulo (remainder):", a % b)
print("Exponentiation:", a ** b)

Addition: 28
Subtraction: 14
Multiplication: 147
Division: 3.0
Floor Division: 3
Modulo (remainder): 0
Exponentiation: 1801088541

Conditional statements (`if`, `elif`, `else`) are used to execute code based on certain conditions.

In [ ]:
# Conditional statements
x = 20

if x > 15:
  print("x is greater than 15")
elif x == 15:
  print("x is equal to 15")
else:
  print("x is less than 15")

x is greater than 15

Loops are used to execute a block of code repeatedly. Common loops are `for` and `while`.

In [ ]:
# For loop
print("For loop example:")
cities = ["nagpur", "delhi", "mumbai"]
for city in cities:
  print(city)

# While loop
print("\nWhile loop example:")
count = 0
while count < 5:
  print(count)
  count += 1

For loop example:
nagpur
delhi
mumbai

While loop example:
0
1
2
3
4

Functions are blocks of reusable code that perform a specific task.

In [ ]:
# Defining a function
def greet(name):
  """This function greets the person passed in as a parameter."""
  print("Hello, " + name + "!")

# Calling the function
greet("Meharsh")

Hello, Meharsh!

You can also define functions that return a value.

In [ ]:
# Function with return value
def add_numbers(num1, num2):
  return num1 + num2

result = add_numbers(6, 9)
print("Sum:", result)

Sum: 15