### Lists

Lists are ordered, mutable collections of items. They are defined using square brackets `[]`.

In [ ]:
# Creating a list
my_list = [1, 2, 3, 'a', 'b', 'c']
print("Original list:", my_list)

Original list: [1, 2, 3, 'a', 'b', 'c']

In [ ]:
# Accessing elements
print("First element:", my_list[0])
print("Last element:", my_list[-1])

First element: 1
Last element: c

In [ ]:
# Slicing
print("Sliced list (first 3 elements):", my_list[:3])

Sliced list (first 3 elements): [1, 2, 3]

In [ ]:
# Modifying elements
my_list[0] = 10
print("List after modifying first element:", my_list)

List after modifying first element: [10, 2, 3, 'a', 'b', 'c']

In [ ]:
# Adding elements
my_list.append('d')
print("List after appending 'd':", my_list)

my_list.insert(1, 'z')
print("List after inserting 'z' at index 1:", my_list)

List after appending 'd': [10, 2, 3, 'a', 'b', 'c', 'd']
List after inserting 'z' at index 1: [10, 'z', 2, 3, 'a', 'b', 'c', 'd']

In [ ]:
# Removing elements
my_list.remove('a')
print("List after removing 'a':", my_list)

my_list.pop()
print("List after popping last element:", my_list)

List after removing 'a': [10, 'z', 2, 3, 'b', 'c', 'd']
List after popping last element: [10, 'z', 2, 3, 'b', 'c']

In [ ]:
# Other useful methods
print("Length of the list:", len(my_list))
print("Index of 'b':", my_list.index('b'))

Length of the list: 6
Index of 'b': 4

### Sets

Sets are unordered, mutable collections of unique items. They are defined using curly braces `{}` or the `set()` constructor.

In [ ]:
# Creating a set
my_set = {1, 2, 3, 3, 4, 5, 5}
print("Original set:", my_set) # Duplicate elements are automatically removed

Original set: {1, 2, 3, 4, 5}

In [ ]:
# Adding elements
my_set.add(6)
print("Set after adding 6:", my_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [ ]:
# Removing elements
my_set.remove(1)
print("Set after removing 1:", my_set)

my_set.discard(10) # discard does not raise an error if element is not found
print("Set after discarding 10:", my_set)

Set after removing 1: {2, 3, 4, 5, 6}
Set after discarding 10: {2, 3, 4, 5, 6}

In [ ]:
# Set operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print("Union of set1 and set2:", set1.union(set2))
print("Intersection of set1 and set2:", set1.intersection(set2))
print("Difference of set1 and set2:", set1.difference(set2))

Union of set1 and set2: {1, 2, 3, 4, 5, 6}
Intersection of set1 and set2: {3, 4}
Difference of set1 and set2: {1, 2}

### Tuples

Tuples are ordered, immutable collections of items. They are defined using parentheses `()`. Once created, the elements of a tuple cannot be changed.

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 'a', 'b', 'c')
print("Original tuple:", my_tuple)

Original tuple: (1, 2, 3, 'a', 'b', 'c')

In [ ]:
# Accessing elements
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])

First element: 1
Last element: c

In [ ]:
# Slicing
print("Sliced tuple (first 3 elements):", my_tuple[:3])

Sliced tuple (first 3 elements): (1, 2, 3)

In [ ]:
# Note: Tuples are immutable, so you cannot modify, add, or remove elements after creation.
# Other useful methods
print("Length of the tuple:", len(my_tuple))
print("Count of 'a':", my_tuple.count('a'))
print("Index of 'b':", my_tuple.index('b'))

Length of the tuple: 6
Count of 'a': 1
Index of 'b': 4

### Dictionaries

Dictionaries are unordered, mutable collections of key-value pairs. They are defined using curly braces `{}` with key: value pairs. Keys must be unique and immutable.

In [ ]:
# Creating a dictionary
my_dict = {'name': 'Meharsh', 'age': 21, 'city': 'Nagpur'}
print("Original dictionary:", my_dict)

Original dictionary: {'name': 'Meharsh', 'age': 21, 'city': 'Nagpur'}

In [ ]:
# Accessing values
print("Name:", my_dict['name'])
print("Age:", my_dict.get('age')) # Using get() is safer as it returns None if key is not found

Name: Meharsh
Age: 21

In [ ]:
# Adding or modifying key-value pairs
my_dict['job'] = 'Engineer'
print("Dictionary after adding 'job':", my_dict)

my_dict['age'] = 31
print("Dictionary after modifying 'age':", my_dict)

Dictionary after adding 'job': {'name': 'Meharsh', 'age': 21, 'city': 'Nagpur', 'job': 'Engineer'}
Dictionary after modifying 'age': {'name': 'Meharsh', 'age': 31, 'city': 'Nagpur', 'job': 'Engineer'}

In [ ]:
# Removing key-value pairs
my_dict.pop('city')
print("Dictionary after removing 'city':", my_dict)

Dictionary after removing 'city': {'name': 'Meharsh', 'age': 31, 'job': 'Engineer'}

In [ ]:
# Other useful methods
print("Dictionary keys:", my_dict.keys())
print("Dictionary values:", my_dict.values())
print("Dictionary items:", my_dict.items())

Dictionary keys: dict_keys(['name', 'age', 'job'])
Dictionary values: dict_values(['Meharsh', 31, 'Engineer'])
Dictionary items: dict_items([('name', 'Meharsh'), ('age', 31), ('job', 'Engineer')])